# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
ENV/
.env
*.env
.env.*

# IDE/editor configs
*.swp
*.swo
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Media / temporary files
*.tmp
